/tourney_result/
/tourney_meta/
/.idea/modules.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Tourney-Crawler.iml
/.idea/vcs.xml
